<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="sass\signup\signup.css">
</head>

<body>

    <div class="container">
        <div class="form">
            <form action="/signup" class="register-form" method="post">
                <input type="text" name="username" placeholder="Username">
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <button type="submit" class="btn">Registrar</button>
                <p class="message"><a href="/home">Home</a></p>
            </form>
        </div>
    </div>
</body>

</html>